html {
  font-family: "Segoe UI", sans-serif;
}

body {
  margin: 0;
  background-color: #2C2F33 !important;
  color: #ffffff !important;
}

.BlandLink {
  text-decoration: none;
  color: inherit;

  &:hover {
    color: inherit;
  }
}